<div class="row">
	<div class="col-xs-12 col-sm-12">
		<div class="panel panel-default" ng-repeat="task in tasks | filter:activStatusFilter">
		  <!-- Default panel contents -->
		  <a class="panel-heading" href="#/task/{{task.id}}" style="{{setStyle(task.is_high_priority)}}"">{{task.name}}</a>
		  <!-- Table -->
		  <table class="table text-center">
				<thead>
           <tr >
            <th class="text-center">Статус задачи</th>
            <th class="text-center">Затраченное время</th>
            <th class="text-center">Общую оценка</th>
            <th class="text-center">Дата завершення</th>
          </tr>
        </thead>
        <tbody>
        	<tr>
        		<td>{{task.obj_status}}</td>
        		<td>{{task.actual_effort}}</td>
        		<td>{{task.estimated_effort}}</td>
        		<td>{{task.due_date| date:'d. MM. yyyy' }}</td>
        	</tr>
        </tbody>
		  </table>
  		<div class="btn-group" role="group" aria-label="tags" ng-repeat="task in task.tags track by $index">
		  	<button type="button" class="btn" ng-class="{'btn-info' : $index%2==0, 'btn-danger' : !($index%2==0)}">{{task}}</button>
			</div>
			<div class="more"><a class="btn btn-default" href="#/task/{{task.id}}" role="button">View details &raquo;</a></div>
		</div>
	</div><!--/.col-xs-12.col-sm-8-->
</div>
